<h1>All Events</h1>
<% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %></p>
  <%= link_to "New Event", new_event_path %> |
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <p>Not signed in</p>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<h1>Upcoming</h1>
<ul>
  <% Event.upcoming.each do |event| %>
    <li>
      <%= link_to event.title, event %> – <%= event.date %>
    </li>
  <% end %>
</ul>

<h1>Past</h1>
<ul>
  <% Event.past.each do |event| %>
    <li>
      <%= link_to event.title, event %> – <%= event.date %>
    </li>
  <% end %>
</ul> 
