<h1>All Events</h1>
<% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %></p>
  <%= link_to "New Event", new_event_path %> |
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <p>Not signed in</p>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li><%= event.title %></li>
  <% end %>
</ul>
