<h1><%= @event.title %></h1>

<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Creator:</strong> <%= @event.creator.email %></p>

<h2>Attendees</h2>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>

<% if user_signed_in? && !@event.attendees.include?(current_user) %>
  <%= button_to "Attend this event", event_attendances_path(attended_event_id: @event.id), method: :post %>
<% end %>
